- {{ nas_mount_point }}/Stanley\ Share/Steve_CLA
- {{ nas_mount_point }}/System\ Volume\ Information
+ {{ CLAHub_folder }}/CLAHub_database.db
+ {{ CLAHub_folder }}/uploads
- {{ CLAHub_folder }}
+ {{ nas_mount_point }}
- *
