html_folder = "{{ apache_folder }}/texts"
code_folder = "{{ code_folder }}/texts"
audio_folder = "{{ nas_mount_point }}/Team Share/Texts/audio"
xml_folder = "{{ nas_mount_point }}/Team Share/Texts"
word_list_file = "{{ apache_folder}}/Lexicon/word_list.csv"
