[Unit]
Description=Gunicorn server for running CLAHub
After=network.target

[Service]
User={{ user }}
Restart=on-failure
WorkingDirectory={{ CLAHub_folder }}
EnvironmentFile={{ CLAHub_folder}}/.env

ExecStart={{ CLAHub_folder }}/venv/bin/gunicorn CLAHub.wsgi:application

[Install]
WantedBy=multi-user.target
