[Global]
    workgroup = WORKGROUP
    dns proxy = no
    
    log file = /var/log/samba/log.%m
    max log size = 1000
    syslog = 0
    
    server role = standalone server
    map to guest = bad user

[NAS]
   comment = NAS Folder
   path = {{ nas_mount_point }}
   create mask = 0777
   directory mask = 0777
   read only = no
   writeable = yes
   guest ok = yes
   browseable = yes
